@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary-100: #1dbb90;
  --color-primary-200: #1eaace;
  --color-primary-300: #ffb20e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --shadow-custom: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --font-love-ya: "Love Ya Like A Sister", cursive;
  --font-noto: "Noto Sans Bengali";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
